amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
apimatic-core==0.2.18
apimatic-core-interfaces==0.1.6
apimatic-requests-client-adapter==0.1.7
apturl==0.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
bcrypt==3.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
black==24.2.0
blinker==1.4
boto3==1.36.22
botocore==1.36.22
Brlapi==0.8.3
CacheControl==0.12.14
celery==5.4.0
certifi==2025.1.31
cffi==1.16.0
channels==4.1.0
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
command-not-found==0.3
constantly==23.10.4
cryptography==43.0.3
cupshelpers==1.0
daphne==4.1.2
dataclass-type-validator==0.1.2
dbus-python==1.2.18
defer==1.0.6
deprecation==2.1.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2.18
django-allauth==65.0.2
django-cors-headers==4.7.0
django-datatables-too==0.1.4
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-filter==25.1
django-image-uploader-widget==0.5.0
django-minio-storage==0.5.7
django-storages==1.14.5
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dnspython==2.6.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
dotenv==0.9.9
drf-spectacular==0.28.0
duplicity==0.8.21
email_validator==2.2.0
environs==11.0.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
factory_boy==3.3.1
Faker==36.1.1
fastapi==0.114.0
fastapi-cli==0.0.5
fasteners==0.14.1
flake8==7.0.0
future==0.18.2
greenlet==3.1.1
gyp==0.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.2
hyperlink==21.0.0
idna==3.10
importlib-metadata==4.6.4
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpickle==3.3.0
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==23.5.0
kombu==5.4.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
linkedin-api==2.3.1
lockfile==0.12.2
loguru==0.7.3
louis==3.20.0
lxml==5.3.0
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
marshmallow==3.21.3
mccabe==0.7.0
mdurl==0.1.2
minio==7.2.7
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
msgpack==1.1.0
mypy==1.9.0
mypy-extensions==1.0.0
netifaces==0.11.0
numpy==2.0.1
oauthlib==3.2.0
olefile==0.46
openai==1.65.2
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.2
paramiko==2.9.3
passlib==1.7.4
pathspec==0.12.1
pexpect==4.8.0
pillow==10.3.0
platformdirs==4.2.2
playwright==1.50.0
playwright-stealth==1.0.6
pluggy==1.5.0
prompt_toolkit==3.0.47
protobuf==3.12.4
psutil==5.9.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycairo==1.20.1
pycodestyle==2.11.1
pycparser==2.22
pycryptodome==3.20.0
pycups==2.0.1
pydantic==2.9.0
pydantic_core==2.23.2
pyee==12.1.1
pyflakes==3.2.0
PyGetWindow==0.0.9
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.10.1
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparsing==2.4.7
pyperclip==1.9.0
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.2.2
pytest-django==4.8.0
pytest-mock==3.12.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.0.1
python-http-client==3.3.7
python-multipart==0.0.9
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.1
pyxdg==0.27
PyYAML==6.0.2
querystring-parser==1.2.4
redis==5.0.8
referencing==0.36.2
reportlab==3.6.8
requests==2.32.3
rest-framework-simplejwt==0.0.2
rich==13.8.0
rpds-py==0.22.3
s3transfer==0.11.2
scikit-learn==1.6.1
scipy==1.15.2
SecretStorage==3.3.1
selenium==4.26.1
sendgrid==6.11.0
service-identity==24.1.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==2.0.34
sqlparse==0.5.3
squareup==40.0.0.220250123
starkbank-ecdsa==2.2.0
starlette==0.38.5
systemd-python==234
texttable==1.6.4
threadpoolctl==3.5.0
tomli==1.2.2
tqdm==4.67.1
trio==0.27.0
trio-websocket==0.11.1
Twisted==24.7.0
txaio==23.1.1
typed-ast==1.4.3
typer==0.12.5
types-aiofiles==0.1
types-annoy==1.17
types-appdirs==1.4
types-atomicwrites==1.4
types-aws-xray-sdk==2.8
types-babel==2.9
types-backports-abc==0.5
types-backports.ssl-match-hostname==3.7
types-beautifulsoup4==4.10
types-bleach==4.1
types-boto==2.49
types-braintree==4.11
types-cachetools==4.2
types-caldav==0.8
types-certifi==2020.4
types-characteristic==14.3
types-chardet==4.0
types-click==7.1
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-contextvars==0.1
types-croniter==1.0
types-cryptography==3.3
types-dataclasses==0.1
types-dateparser==1.0
types-DateTimeRange==0.1
types-decorator==0.1
types-Deprecated==1.2
types-docopt==0.6
types-docutils==0.17
types-editdistance==0.5
types-emoji==1.2
types-entrypoints==0.3
types-enum34==1.1
types-filelock==3.2
types-first==2.0
types-Flask==1.1
types-freezegun==1.1
types-frozendict==0.1
types-futures==3.3
types-html5lib==1.1
types-httplib2==0.19
types-humanfriendly==9.2
types-ipaddress==1.0
types-itsdangerous==1.1
types-JACK-Client==0.1
types-Jinja2==2.11
types-jmespath==0.10
types-jsonschema==3.2
types-Markdown==3.3
types-MarkupSafe==1.1
types-mock==4.0
types-mypy-extensions==0.4
types-mysqlclient==2.0
types-oauthlib==3.1
types-orjson==3.6
types-paramiko==2.7
types-Pillow==8.3
types-polib==1.1
types-prettytable==2.1
types-protobuf==3.17
types-psutil==5.8
types-psycopg2==2.9
types-pyaudio==0.2
types-pycurl==0.1
types-pyfarmhash==0.2
types-Pygments==2.9
types-PyMySQL==1.0
types-pyOpenSSL==20.0
types-pyRFC3339==0.1
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-dateutil==2.8
types-python-gflags==3.1
types-python-nmap==0.6
types-python-slugify==5.0
types-pytz==2021.1
types-pyvmomi==7.0
types-PyYAML==5.4
types-redis==3.5
types-requests==2.25
types-retry==0.9
types-selenium==3.141
types-Send2Trash==1.8
types-setuptools==57.4
types-simplejson==3.17
types-singledispatch==3.7
types-six==1.16
types-slumber==0.7
types-stripe==2.59
types-tabulate==0.8
types-termcolor==1.1
types-toml==0.10
types-toposort==1.6
types-ttkthemes==3.2
types-typed-ast==1.4
types-tzlocal==0.1
types-ujson==0.1
types-vobject==0.9
types-waitress==0.1
types-Werkzeug==1.0
types-xxhash==2.0
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.3.0
usb-creator==0.3.7
uvicorn==0.30.6
uvloop==0.20.0
vine==5.1.0
wadllib==1.3.6
watchfiles==0.24.0
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.0.1
win32_setctime==1.2.0
wsproto==1.0.0
xdg==5
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==3.2.0
zipp==1.0.0
zope.interface==7.1.0
2captcha-python